header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: large;
    background-color: #F6BD60;
}

*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f7ede2;

}

body{
    background: linear-gradient(#f28482, #F6BD60) ;
}

h1{
    font-size: xx-large;
}

img{
    width: 30VW;
    height: 35VW;
}

.haut_gamme{
    display: flex;
    flex-direction: row;  
    gap: 1vw;
}

.bas_gamme{
    display: flex;
    flex-direction: row;  
    gap: 1vw;  
}
.montre{
    display: flex;
    flex-direction: column;
    background-color: black;
}